<div class="brand">
    <span class="brand__message"
        >Join these companies making business flow</span
    >
    <div class="brand__logos">
        <img src="images/brand-img-one.png" alt="" />
        <img src="images/brand-img-two.png" alt="" />
        <img src="images/brand-img-three.png" alt="" />
        <img src="images/brand-img-four.png" alt="" />
        <img src="images/brand-img-five.png" alt="" />
        <img src="images/brand-img-six.png" alt="" />
        <img src="images/brand-img-seven.png" alt="" />
    </div>
</div>
