<section class="block collabrate">
    <div class="container">
        <div class="brand">
            <span class="brand__message"
                >Join these companies making business flow</span
            >
            <div class="brand__logos">
                <img src="images/brand-img-one.png" alt="" />
                <img src="images/brand-img-two.png" alt="" />
                <img src="images/brand-img-three.png" alt="" />
                <img src="images/brand-img-four.png" alt="" />
                <img src="images/brand-img-five.png" alt="" />
                <img src="images/brand-img-six.png" alt="" />
                <img src="images/brand-img-seven.png" alt="" />
            </div>
        </div>
        <div class="grid grid--1x2">
            <div class="collabrate__content">
                <h1 class="collabrate__heading">
                    Turn signatures into smart contracts
                </h1>
                <p class="collabrate__description">
                    Experience true contract magic by automating the entire
                    contract process — from creating to signing and managing.
                </p>
                <a href="#" class="btn btn--accent">Take our product tour</a>
            </div>
            <img
                class="collabrate__image"
                src="/OneFlow/svg-images/collabrate-img-one.svg"
                alt=""
            />
        </div>
        <div class="card collabrate-card">
            <div class="collabrate-card__header">
                <div class="collabrate__icon-container">
                    <svg class="icon">
                        <use href="svg-images/sprite.svg#create"></use>
                    </svg>
                    <span>Create</span>
                </div>
                <div class="collabrate__icon-container">
                    <svg class="icon">
                        <use href="svg-images/sprite.svg#collabrate"></use>
                    </svg>
                    <span>Collaborate</span>
                </div>
                <div class="collabrate__icon-container">
                    <svg class="icon">
                        <use href="svg-images/sprite.svg#sign"></use>
                    </svg>
                    <span>Sign</span>
                </div>
                <div class="collabrate__icon-container">
                    <svg class="icon">
                        <use href="svg-images/sprite.svg#manage"></use>
                    </svg>
                    <span>Manage</span>
                </div>
                <div class="collabrate__icon-container">
                    <svg class="icon">
                        <use href="svg-images/sprite.svg#analyze"></use>
                    </svg>
                    <span>Analyze</span>
                </div>
                <div class="collabrate__icon-container">
                    <svg class="icon">
                        <use href="svg-images/sprite.svg#integrate"></use>
                    </svg>
                    <span>Integrate</span>
                </div>
            </div>
            <div class="collabrate-card__content">
                <h2 class="collabrate-card__heading">Collaborate</h2>
                <p class="collabrate-card__description">
                    Work together on one version in real-time. No hocus pocus.
                </p>
                <ul class="list list--tick">
                    <li class="list__item">Edit live</li>
                    <li class="list__item">Make fields interactive</li>
                    <li class="list__item">Stay one step ahead</li>
                </ul>
                <a href="#" class="btn btn--darkgrey">Learn more</a>
            </div>
        </div>
    </div>
</section>
