<div class="card comment-card">
    <p class="comment-card__content">
        With Oneflow, I’ve been able to reduce the time spent on admin
        significantly. Every hour that I used to spend on admin, can now be
        spent on selling and closing!
    </p>
    <a href="#" class="read-full-story">Read full story</a>
    <div class="author">
        <img class="author__image" src="svg-images/author-one.svg" alt="" />
        <div class="author__details">
            <span class="author__name">Mattias Johnson</span>
            <span class="author__role">Key Account Manager</span>
            <span class="author__company">Sweco</span>
        </div>
    </div>
</div>
