<section class="comment container">
    <h1 class="comment__heading">Don’t just take our word for it…</h1>
    <div class="grid comment__grid">
        <div class="card comment-card">
            <p class="comment-card__content">
                With Oneflow, I’ve been able to reduce the time spent on admin
                significantly. Every hour that I used to spend on admin, can now
                be spent on selling and closing!
            </p>
            <a href="#" class="read-full-story">Read full story</a>
            <div class="author">
                <div class="author__image">
                    <img src="svg-images/author-one.svg" alt="" />
                </div>
                <div class="author__details">
                    <span class="author__name">Mattias Johnson</span>
                    <span class="author__role">Key Account Manager</span>
                    <span class="author__company">Sweco</span>
                </div>
            </div>
        </div>
        <div class="card comment-card">
            <p class="comment-card__content">
                The fact that Oneflow is 100% digital makes it so simple and
                flexible. It gives us peace of mind by providing control and a
                complete overview of our contract process at all times.
            </p>
            <a href="#" class="read-full-story">Read full story</a>
            <div class="author">
                <div class="author__image">
                    <img src="svg-images/author-two.svg" alt="" />
                </div>
                <div class="author__details">
                    <span class="author__name">Elin Skoglund</span>
                    <span class="author__role">HR Business Partner</span>
                    <span class="author__company">Hedin Bil</span>
                </div>
            </div>
        </div>
        <div class="card comment-card">
            <p class="comment-card__content">
                From board meeting protocols to GDPR agreements, and approval of
                keycards — Oneflow has removed the pains we weren’t even aware
                of.
            </p>
            <a href="#" class="read-full-story">Read full story</a>
            <div class="author">
                <div class="author__image">
                    <img src="svg-images/author-three.svg" alt="" />
                </div>
                <div class="author__details">
                    <span class="author__name">Tor Myhrman</span>
                    <span class="author__role">Head of Indirect Sourcing</span>
                    <span class="author__company">Systembolaget</span>
                </div>
            </div>
        </div>
    </div>
</section>
