<section class="features">
    <div class="container">
        <header class="features__header">
            <h1 class="features__heading">
                The complete platform for smart contracts
            </h1>
        </header>
        <div class="grid grid--1x2 feature__section">
            <div></div>
            <div class="feature__content">
                <div class="icon-container">
                    <svg class="icon icon--main">
                        <use href="svg-images/sprite.svg#friction"></use>
                    </svg>
                </div>
                <h2 class="feature__heading">Forget friction</h2>
                <p class="feature__description">
                    Experience a truly digital contract process that makes
                    creating, signing, and managing agreements quick, smooth,
                    and effortless. Contracts without trickery.
                </p>
                <a href="" class="btn btn--primary">Take the tour</a>
            </div>
        </div>
        <div class="grid grid--1x2 feature__section">
            <div></div>
            <div class="feature__content">
                <div class="icon-container">
                    <svg class="icon icon--main">
                        <use href="svg-images/sprite.svg#data"></use>
                    </svg>
                </div>
                <h2 class="feature__heading">Unleash data</h2>
                <p class="feature__description">
                    Get faster and smarter with automated processes and
                    intelligent insights that unlock the data inside your
                    agreements. Leave behind the limitations of paper and PDFs.
                    Just like that.
                </p>
                <a href="" class="btn btn--primary">Take the tour</a>
            </div>
        </div>
        <div class="grid grid--1x2 feature__section">
            <div></div>
            <div class="feature__content">
                <div class="icon-container">
                    <svg class="icon icon--main">
                        <use href="svg-images/sprite.svg#control"></use>
                    </svg>
                </div>
                <h2 class="feature__heading">Take control</h2>
                <p class="feature__description">
                    Know what’s happening in real-time with a complete overview
                    of all your contracts, all in one place. It’s all the
                    visibility and transparency you need, at your fingertips.
                </p>
                <a href="" class="btn btn--primary">Take the tour</a>
            </div>
        </div>
    </div>
</section>
