<footer class="footer">
    <div class="container">
        <div class="grid footer__sections">
            <div class="footer__section">
                <img src="/OneFlow/svg-images/logo-footer.svg" alt="" />
                <div class="website-info">
                    <span>Headquarters:</span>
                    <span>Hudiksvallsgatan 8</span>
                    <span>113 30 Stockholm, Sweden</span>
                    <span>+46 8 517 297 70</span>
                </div>
            </div>
            <div></div>
            <div class="footer__section">
                <h3 class="footer__section-heading">Why Oneflow</h3>
                <ul class="list footer__list">
                    <li class="list__item">Product tour</li>
                    <li class="list__item">Smart contracts</li>
                    <li class="list__item">Built for scale</li>
                    <li class="list__item">Integrations</li>
                    <li class="list__item">Customer stories</li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__section-heading">Learn</h3>
                <ul class="list footer__list">
                    <li class="list__item">FAQ</li>
                    <li class="list__item">Onboarding</li>
                    <li class="list__item">Developers</li>
                    <li class="list__item">Help Center</li>
                    <li class="list__item">E-sign guide</li>
                </ul>
            </div>
            <div class="footer__section">
                <h3 class="footer__section-heading">Security</h3>
                <ul class="list footer__list">
                    <li class="list__item">Security Center</li>
                    <li class="list__item">Reliability</li>
                    <li class="list__item">Compliance</li>
                    <li class="list__item">E-signing legality</li>
                    <li class="list__item">GDPR</li>
                </ul>
            </div>
            <div class="footer__section">
                <ul class="list footer__list">
                    <li class="list__item">More Oneflow</li>
                    <li class="list__item">About us</li>
                    <li class="list__item">Pricing</li>
                    <li class="list__item">Partners</li>
                    <li class="list__item">Blog</li>
                    <li class="list__item">Careers</li>
                    <li class="list__item">Contact</li>
                </ul>
            </div>
        </div>
        <div class="callout">
            <div class="callout__content">
                <span class="callout__heading">Get in the flow</span>
                <p class="callout__description">
                    Send, track and sign your contracts free for the rest of
                    your life. No trickery.
                </p>
            </div>
            <div class="callout__btn">
                <a href="#" class="btn btn--accent"> Get Oneflow free </a>
            </div>
        </div>
        <div class="footer__bottom">
            <span>Login</span>
            <span>Privacy</span>
            <span>Cookie statement</span>
            <a href="#">
                <svg class="icon">
                    <use href="svg-images/sprite.svg#earth-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>
