<section class="guide container">
    <div class="grid grid--1x2 card guide-card-big">
        <div class="guide-card-big__content">
            <span class="badge badge--purple">Article</span>
            <h1 class="guide-card-big__heading">
                A Basic Guide on E-signatures and What Makes Them Legally
                Binding
            </h1>
            <span class="e-signature">E-signature|</span>
            <span class="time-read">11 min read</span>
        </div>
        <img src="/OneFlow/svg-images/guide-card-tel.svg" alt="" />
    </div>
    <div class="grid grid--1x3 guide-small-cards">
        <div class="card guide-small-card">
            <img src="/OneFlow/svg-images/guid-card-pic1.svg" alt="" />
            <div class="guide-small-card__content">
                <span class="badge badge--pink">Guide</span>
                <p class="guide-small-card__description">
                    29 documents you can sign online in 2021
                </p>
                <div class="topic-time">
                    <span>Contract automation |</span>
                    <span>18 min reads</span>
                </div>
            </div>
        </div>
        <div class="card guide-small-card">
            <span class="badge badge--cornflowerblue">Customer Story</span>
            <span class="sweco">Sweco</span>
            <a href="#" class="btn btn--midnightblue">Read full story</a>
        </div>
        <div class="card guide-small-card">
            <img src="/OneFlow/svg-images/guide-card-pic2.svg" alt="" />
            <div class="guide-small-card__content">
                <span class="badge badge--purple">Article</span>
                <p class="guide-small-card__description">
                    Master digital sales: How to close deals when you’re not
                    allowed to shake hands
                </p>
                <div class="topic-time">
                    <span>Sales|</span>
                    <span>6 min read</span>
                </div>
            </div>
        </div>
    </div>
</section>
