<section class="block hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__heading">Work wonders</h1>
            <p class="hero__description">
                Be more effective with smart contracts that make work faster,
                and life easier.
            </p>
            <div class="hero__buttons">
                <a href="#" class="btn btn--accent">Get Oneflow free</a>
                <a href="#" class="btn btn--primary">Take a tour</a>
            </div>
        </div>
    </div>
</section>
