<section class="integration container">
    <div class="grid grid--1x2">
        <div class="integration__content">
            <h1 class="integration__heading">Seamless integrations</h1>
            <p class="integration__description">
                Integrate your favorite tools with your contract workflow and
                work wonders.
            </p>
            <a href="#" class="btn btn--accent">View all integrations</a>
        </div>
        <div class="integration__companies">
            <img class="cmp-one" src="/OneFlow/svg-images/cmp-1.svg" alt="" />
            <img class="cmp-two" src="/OneFlow/svg-images/cmp-2.svg" alt="" />
            <img class="cmp-three" src="/OneFlow/svg-images/cmp-3.svg" alt="" />
            <img class="cmp-four" src="/OneFlow/svg-images/cmp-4.svg" alt="" />
            <img class="cmp-five" src="/OneFlow/svg-images/cmp-5.svg" alt="" />
            <img class="cmp-six" src="/OneFlow/svg-images/cmp-6.svg" alt="" />
            <img class="cmp-seven" src="/OneFlow/svg-images/cmp-7.svg" alt="" />
            <img class="cmp-eight" src="/OneFlow/svg-images/cmp-8.svg" alt="" />
            <img class="cmp-nine" src="/OneFlow/svg-images/cmp-9.svg" alt="" />
            <img class="cmp-ten" src="/OneFlow/svg-images/cmp-1.svg" alt="" />
        </div>
    </div>
</section>
