<nav class="nav container">
    <a href="/" class="nav__brand">
        <img src="svg-images/logo.svg" alt="" />
    </a>
    <div class="nav__menus">
        <ul class="list nav__list">
            <li class="list__item"><a href="#">Why Oneflow?</a></li>
            <li class="list__item"><a href="#">Learn</a></li>
            <li class="list__item"><a href="#">Pricing</a></li>
            <li class="list__item"><a href="#">About</a></li>
            <li class="list__item"><a href="#">Blog</a></li>
        </ul>
    </div>
    <div class="nav__buttons">
        <a href="#" class="btn btn--accent">Get a demo</a>
        <a href="#" class="btn btn--white">Log in</a>
    </div>
    <a href="#">
        <svg class="icon">
            <use href="svg-images/sprite.svg#earth-icon"></use>
        </svg>
    </a>
</nav>
