<section class="posts container">
    <h1 class="posts__heading">More from Oneflow</h1>
    <div class="grid grid--1x2 post__articles">
        <article class="post-card">
            <img src="svg-images/rabbit.svg" alt="" class="post-card__image" />
            <div class="post-card__content">
                <span class="post-card__title"
                    >One platform. All departments</span
                >
                <p class="post-card__description">
                    Create, sign and manage any type of agreement you can think
                    of
                </p>
                <a href="#" class="btn btn--accent post-card__cta"
                    >Find out more</a
                >
            </div>
        </article>
        <article class="post-card">
            <img
                src="svg-images/hand-showing-up.svg"
                alt=""
                class="post-card__image"
            />
            <div class="post-card__content">
                <span class="post-card__title">Why Oneflow</span>
                <p class="post-card__description">
                    Six reasons why teams around the world love the magic of
                    flow
                </p>
                <a href="#" class="btn btn--accent post-card__cta"
                    >Find out more</a
                >
            </div>
        </article>
    </div>
</section>
